<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <add key="apiToken" value="cmlmdC1nb2xkbWluZS1zdGFnaW5nOjQxNjU5NzMxMmVhZmQ3NjIwNmQzZDk4OGVkMjdlYjNk" />
    <add key="apiURL" value="http://rift-data-api-staging.herokuapp.com:80/" />
    <add key="threadSleep" value="3000" />
    <add key="runAsConsole" value="1" />
  </appSettings>

  <connectionStrings>
    <add name="GoldmineEntities" connectionString="metadata=res://*/GoldmineModel.csdl|res://*/GoldmineModel.ssdl|res://*/GoldmineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rift-dev-2k8\riftdevsql;initial catalog=GoldmineUAT;user id=sa;password=Halloween?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RiftEntities" connectionString="metadata=res://*/RiftModel.csdl|res://*/RiftModel.ssdl|res://*/RiftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rift-dev-2k8\riftdevsql;initial catalog=RiftUAT;user id=sa;password=Halloween?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>